.icon-container{
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    position: relative;
    cursor: pointer;
}

.row{
    height: 100vh;
}

.hamburger{
    background: blue;
}

.line{
    height: 70px;
    border-radius: 50px;
    width: 350px;
    background: white;
    display: inline-block;
    position: absolute;
    transition: all .3s ease-in-out;
}

.line-1 {
    top: 30%;
    right: auto;
    bottom: auto;
    left: 50%;
}

.line-2 {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
}

.line-3 {
    top: 70%;
    right: auto;
    bottom: auto;
    left: 50%;
}

.hamburger .line-1 {
    transform: translate(-50%,-50%);
}

.hamburger .line-2{
    transform: translate(-50%,-50%);
}

.hamburger .line-3{
    transform: translate(-50%,-50%);
}

.arrow{
    background: rgb(153, 255, 0);
}

.arrow .line-1 {
    width: 250px;
    transform: rotate(45deg) translate(-15%, 45%);
}

.arrow .line-2{
    transform: translate(-50%,-50%);
}

.arrow .line-3 {
    width: 250px;
    transform: rotate(-45deg) translate(5%, -120%);
}

.cross{
    background: rgb(255, 14, 94);
}
.cross .line-1{
    transform: translate(-50%,-50%) rotate(-45deg);
    top: 50%;
    left: 50%;
    width: 350px;
}

.cross .line-2{
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
    left: 50%;
    width: 350px;
}

.cross .line-3{
    transform: translate(-50%,-50%) rotate(-45deg);
    top: 50%;
    left: 50%;
    width: 350px;
}

.triangle{
    background: red;
}

.triangle .line-1{
    transform: translate(-50%,-50%) rotate(30deg);
    top: 36%;
    left: 50%;
    width: 350px;
    height: 60px;
}

.triangle .line-2{
    transform: translate(-50%,-50%) rotate(90deg);
    top: 50%;
    left: 24%;
    width: 350px;
    height: 60px;
}

.triangle .line-3{
    transform: translate(-50%,-50%) rotate(-29deg);
    top: 65%;
    left: 50%;
    height: 60px;
    width: 350px;
}